@font-face {
  font-family: "Merk-Medium";
  src: url("Merk-Medium.woff2") format("woff2"),
    url("Merk-Medium.woff") format("woff"),
    url("Merk-Medium.ttf") format("truetype"),
    url("Merk-Medium.svg#Merk-Medium") format("svg");
}

@font-face {
  font-family: "Merk-Light";
  src: url("Merk-Light.woff2") format("woff2"),
    url("Merk-Light.woff") format("woff"),
    url("Merk-Light.ttf") format("truetype"),
    url("Merk-Light.svg#Merk-Light") format("svg");
}
