@import "_shared.scss";

.keyboard-set-component {
  position: relative;
  width: 260px;
  height: 170px;

  .set-button {
    position: absolute;
  }
  .left {
    left: 0;
    bottom: 0;
  }
  .right {
    left: 180px;
    bottom: 0;
  }
  .top {
    left: 90px;
    top: 0;
  }
  .bottom {
    left: 90px;
    bottom: 0;
  }
  img {
    width: 23px;
    height: 23px;
  }
}
