body {
  background-color: #f6f6f6;
}

md-content  {
  -webkit-transform: translate3d(0, 0, 0);
}  /* fixes disappearing bug in iOS angular/material#4477 */

.full-width-form, .full-width-form md-input-container{
  width: 100%;
}

.login-card {
   width: 30%;
}
